.sectionOneSousInfo1,
.sectionOneSousInfo2,
.sectionOneSousInfo3,
.sectionOneSousInfo4,
.sectionOneSousInfo5 {
  font-size: calc(1px + 1.1vmin);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1%;
}
