.project {
  height: 350px;
  width: 350px;
  margin: 10px;

  section {
    @keyframes animate {
      0% {
        transform: scaleX(0);
        transform-origin: left;
      }
      50% {
        transform: scaleX(1);
        transform-origin: left;
      }

      100% {
        transform: scaleX(0);
        transform-origin: right;
      }
    }
    .container {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    body {
      background-color: #111845;
    }
    .background-img {
      background-repeat: no-repeat;
      background-size: cover;
      margin: 5% auto;
      padding: 20px;

      border-radius: 4px;

      position: relative;
    }
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        height: 15vh;
        width: 100%;
        margin-top: 20px;
        object-fit: contain;
      }
      h2 {
        font-size: 19px;
      }
    }
    .box {
      position: absolute;
      width: 300px;
      height: 300px;
      background: #000000;
      box-sizing: border-box;
      overflow: hidden;
      box-shadow: 0 20px 50px rgb(0, 0, 0);

      border: solid 5px;

      color: white;
      padding: 20px;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        transition: 0.5s;
        pointer-events: none;
      }
      &:hover {
        &:before {
          left: -50%;
          transform: skewX(-5deg);
        }
      }
      .content {
        position: absolute;
        top: 15px;
        left: 15px;
        right: 15px;
        bottom: 15px;
        border: 1px solid #a1a1a1;
        padding: 20px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(9, 0, 0, 0.5);
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;

        &:nth-child(1) {
          transform: rotate(0deg);
        }
        &:nth-child(2) {
          transform: rotate(90deg);
        }
        &:nth-child(3) {
          transform: rotate(180deg);
        }
        &:nth-child(4) {
          transform: rotate(270deg);
        }
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: #ffffff;
          animation: animate 4s linear infinite;
        }
      }
    }
  }
}

.Overlay {
  position: absolute;
  backdrop-filter: blur(2px);
  top: 270%;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.Modal {
  // top: 50%;
  // left: 50%;
  // right: auto;
  // bottom: auto;
  // margin-right: -50%;
  // transform: translate(50%, 50%);
  width: 50%;
  max-width: 350px;

  background-color: #fff;
  border-radius: 10px;
  .showInfos {
    color: red;
  }
}
