.project {
  height: 15.625rem;
  width: 15.625rem;
  margin: 0.62rem;

  section {
    @keyframes animate {
      0% {
        transform: scaleX(0);
        transform-origin: left;
      }
      50% {
        transform: scaleX(1);
        transform-origin: left;
      }

      100% {
        transform: scaleX(0);
        transform-origin: right;
      }
    }

    body {
      background-color: #111845;
    }
    .background-img {
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0% auto;
      border-radius: 4px;
      position: relative;
    }
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      img {
        height: 15vh;
        width: 100%;
        margin-top: 1.25rem;
        object-fit: contain;
      }
      h2 {
        font-size: 1.25rem;
      }
    }

    .box {
      position: absolute;
      width: 15.625rem;
      height: 15.625rem;
      background: #000000;
      box-sizing: border-box;
      overflow: hidden;
      box-shadow: 0 1.25rem 3.125rem rgb(0, 0, 0);

      border: solid 0.3125rem;

      color: white;
      padding: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        transition: 0.5s;
        pointer-events: none;
      }
      &:hover {
        &:before {
          left: -50%;
          transform: skewX(-5deg);
        }
      }
      .content {
        position: absolute;
        top: 1rem;
        left: 1rem;
        right: 1rem;
        bottom: 1rem;
        border: 1px solid #ffffff;
        padding: 1.25rem;
        text-align: center;
        box-shadow: 0 0.3125rem 10px rgba(9, 0, 0, 0.5);
      }
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        box-sizing: border-box;

        &:nth-child(1) {
          transform: rotate(0deg);
        }
        &:nth-child(2) {
          transform: rotate(90deg);
        }
        &:nth-child(3) {
          transform: rotate(180deg);
        }
        &:nth-child(4) {
          transform: rotate(270deg);
        }
        &:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 0.125rem;
          background: #ffffff;
          animation: animate 4s linear infinite;
        }
      }
    }
  }
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);

  min-width: 15.625rem;

  background-color: rgb(0, 0, 0);
  border: solid 2px rgb(255, 255, 255);

  font-family: "poppins";

  animation-name: ModaleTopToMiddle;
  animation-duration: 1s;

  @keyframes ModaleTopToMiddle {
    from {
      top: 0;
    }
    to {
      top: 150;
    }
  }

  .showInfos {
    padding: 10px;
    .infosContent {
      display: flex;
      align-items: center;
      flex-direction: column;
      color: white;
      text-decoration: none;

      .infosTop {
        display: flex;
        justify-content: space-around;

        width: 100%;

        font-family: "poppins";

        .sourceCode,
        .netlify {
          a {
            font-size: 12px;
            color: white;
            &:after {
              content: "";
              display: block;
              width: 0;
              height: 2px;
              background: #fff;
              transition: width 0.3s;
              text-decoration: none;
            }
            &:hover::after {
              width: 100%;
              transition: width 1s;
            }
          }
        }
        .NoNetlify {
          a {
            font-size: 10px;
            color: white;
          }
        }
      }
      .text {
        margin-top: 10px;
        text-align: center;
      }
      .containerLanguages {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 5px 0;

        img {
          margin-top: -10px;
          height: calc(2px + 1vmax);
          border: solid 1px white;
        }
      }

      .buttonReturn {
        margin: 10px 0;
        cursor: pointer;
        &:after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background: #fff;
          transition: width 0.3s;
          text-decoration: none;
        }
        &:hover::after {
          width: 100%;
          transition: width 1s;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .project {
    height: 350px;
    width: 350px;
    section {
      .box {
        height: 350px;
        width: 350px;
      }
    }
  }
  .Modal {
    width: 450px;
  }
}
