@font-face {
  font-family: "poppins";
  src: local("poppins"),
    url(../../Asset/Font/poppins-v15-latin-regular.woff2) format("woff2");
}

.hero {
  font-size: calc(0.125rem + 2vmin);
  color: white;
  font-family: "poppins";
  z-index: 1;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;

    .contentSpanOn {
      background: #010101;
      width: 50vw;
      height: calc(90vh - 0.3rem - 5vh);
      img {
        height: 100%;
        width: 90%;
        object-fit: cover;
        margin-left: -10%;
        min-width: 60%;
      }
    }

    .contentSpanTwo {
      background: #ffffff;
      width: 50vw;
      height: calc(90vh - 0.3rem - 5vh);
      z-index: 1;

      .contentEffectRound {
        background: #ffffff;
        height: 100%;
        border-radius: 50%;
        z-index: 1;
        position: relative;
        right: 48.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;

        h1 {
          color: black;
          margin-left: 1.87rem;
          margin-bottom: 1rem;
          span {
            font-size: calc(0.62rem + 2vmin);
          }
        }
        p {
          color: black;
          font-size: calc(2vmin);
          border-right: 0.15em solid #282c34; /* The typwriter cursor */
          white-space: nowrap; /* Keeps the content on a single line */
          letter-spacing: 0.1em; /* Adjust as needed */
          overflow: hidden; /* Ensures the content is not revealed until the animation */
          animation: blink-caret 0.75s step-end infinite;
          &:after {
            content: "";
            animation: write-text 10s infinite;
          }

          @keyframes blink-caret {
            from,
            to {
              border-color: transparent;
            }
            50% {
              border-color: #282c34;
            }
          }

          @keyframes write-text {
            0% {
              content: "p";
            }
            4% {
              content: "pa";
            }
            8% {
              content: "pas";
            }
            12% {
              content: "pass";
            }
            16% {
              content: "passi";
            }
            18% {
              content: "passio";
            }
            22% {
              content: "passion";
            }
            26% {
              content: "passionn";
            }
            30% {
              content: "passionné";
            }
            34% {
              content: "passionné,";
            }
            36% {
              content: "passionné, ";
            }
            40% {
              content: "passionné, c";
            }
            44% {
              content: "passionné, cu";
            }
            46% {
              content: "passionné, cur";
            }
            50% {
              content: "passionné, curi";
            }
            54% {
              content: "passionné, curie";
            }
            58% {
              content: "passionné, curieu";
            }
            62% {
              content: "passionné, curieux";
            }
            66% {
              content: "passionné, curieux,";
            }
            70% {
              content: "passionné, curieux, c";
            }
            74% {
              content: "passionné, curieux, cr";
            }
            78% {
              content: "passionné, curieux, cré";
            }
            82% {
              content: "passionné, curieux, créa";
            }
            86% {
              content: "passionné, curieux, créat";
            }
            90% {
              content: "passionné, curieux, créati";
            }
            94% {
              content: "passionné, curieux, créatif";
            }
            98% {
              content: "passionné, curieux, créatif.";
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hero {
    .content {
      .contentSpanOn {
        height: calc(90vh - 0.25rem);
      }
      .contentSpanTwo {
        height: calc(90vh - 0.25rem);
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .content {
      .contentSpanOn {
        height: calc(90vh - 0.25rem);
      }
      .contentSpanTwo {
        height: calc(90vh - 0.25rem);
      }
    }
  }
}
