.projectListContent {
  .projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 767px) {
  .projectListContent {
    .projects {
      max-width: 800px;
    }
  }
}
