.App-Contact {
  background-color: #ffffff;
  min-height: calc(100vh - 15vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);

  .title {
    font-size: calc(0.93rem + 2vmin);
    font-family: "poppins";
    text-decoration: underline;
    margin: 3.125rem 0;

    transition: all 0.5s ease-in;
  }

  .section-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    .sectionFourLeft {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 68vh;
      width: 35vw;
      background-color: black;

      border-right: white 1px solid;
      color: white;
      font-size: calc(0.625rem + 0.5vmin);
      .title {
        font-size: calc(0.3125rem + 1.5vmin);
        text-decoration: none;
        margin-top: 1.56rem;
      }
      .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 20vw;
        margin-top: -3.125rem;
        text-align: center;
        input {
          margin: 0.3125rem 0;

          width: 100%;
          text-align: center;
        }
        label {
          margin-top: 0.3125rem;
        }
        textarea {
          margin-top: 0.3125rem;
          height: 9.375rem;
          width: 100%;
          resize: none;
        }
        .none {
          height: 20px;
          background: rgb(0, 0, 0);
        }
        .btn {
          margin-top: 0.625rem;
          line-height: 3.125rem;
          max-height: 30%;
          text-align: center;
          width: 8.75rem;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
        }

        .btn-one {
          color: #fff;
          transition: all 0.3s;
          position: relative;
        }
        .btn-one input {
          transition: all 0.3s;
          font-size: 12px;
        }
        .btn-one::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          opacity: 0;
          transition: all 0.3s;
          border-top-width: 1px;
          border-bottom-width: 1px;
          border-top-style: solid;
          border-bottom-style: solid;
          border-top-color: rgb(255, 255, 255);
          border-bottom-color: rgb(255, 255, 255);
          transform: scale(0.1, 1);
        }
        .btn-one:hover input {
          letter-spacing: 0.125rem;
        }
        .btn-one:hover::before {
          opacity: 1;
          transform: scale(1, 1);
        }
        .btn-one::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transition: all 0.3s;
          background-color: rgba(255, 255, 255, 0.1);
        }
        .btn-one:hover::after {
          opacity: 0;
          transform: scale(0.1, 1);
        }
        .btn input,
        .btn-one input {
          border: none;
          background-color: transparent;
          color: rgb(255, 255, 255);
        }
        .button-send {
          position: relative;
          width: calc(4.375rem + 7.2vmin);
          height: 1.875rem;
          z-index: 1;
          opacity: 1;
          color: white;
          cursor: pointer;
        }
      }
    }
    .sectionFourRight {
      background-color: rgb(0, 0, 0);
      border: solid 1px rgb(255, 255, 255);
      height: 68vh;
      width: 35vw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: white;
      text-align: center;
      div {
        width: 100%;
        margin: 0.3125rem 0;
        font-size: calc(10px + 0.5vmin);

        &:nth-child(1) {
          font-size: calc(0.3125rem + 2vmin);
        }
        &:nth-child(2) {
          color: rgb(77, 77, 77);
          margin: 15px 0;
        }
        &:nth-child(3) {
          font-size: calc(5px + 2vmin);
        }
        &:nth-child(4) {
          color: rgb(77, 77, 77);
          margin: 15px 0;
        }
        &:nth-child(5) {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: calc(0.625rem + 25vmin);
        }
      }
      .socialNetwork {
        background: rgb(0, 0, 0);
        height: 20px;
      }
      .btn {
        line-height: 3.125rem;
        max-height: 30%;
        text-align: center;
        width: 9.375rem;
        cursor: pointer;
        margin: 1%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }

      .btn-one {
        color: #fff;
        transition: all 0.3s;
        position: relative;
      }
      .btn-one a {
        transition: all 0.3s;
        z-index: 2;
      }
      .btn-one::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-top-style: solid;
        border-bottom-style: solid;
        border-top-color: rgb(255, 255, 255);
        border-bottom-color: rgb(255, 255, 255);
        transform: scale(0.1, 1);
      }
      .btn-one:hover a {
        letter-spacing: 0.125rem;
      }
      .btn-one:hover::before {
        opacity: 1;
        transform: scale(1, 1);
      }
      .btn-one::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.3s;
        background-color: rgba(255, 255, 255, 0.1);
      }
      .btn-one:hover::after {
        opacity: 0;
        transform: scale(0.1, 1);
      }
      .cv {
        z-index: 5;
        text-decoration: none;
        color: white;
      }
    }
  }
}

@media (min-width: 1025px) {
  .App-Contact {
    .section-content {
      .sectionFourLeft {
        height: 60vh;
        .title {
          font-size: 1.125rem;
        }
        .contact-form {
          height: 28.125rem;
        }
      }
      .sectionFourRight {
        height: 60vh;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .App-Contact {
    .section-content {
      .sectionFourLeft {
        height: 75vh;
        .title {
          font-size: 1.125rem;
        }
        .contact-form {
          height: 28.125rem;
        }
      }
      .sectionFourRight {
        height: 75vh;
      }
    }
  }
}

@media (width: 1024px) and (height: 1366px) {
  .App-Contact {
    .section-content {
      .sectionFourLeft {
        height: 50vh;
      }
      .sectionFourRight {
        height: 50vh;
      }
    }
  }
}

@media (width: 768px) and (height: 1024px) {
  .App-Contact {
    .section-content {
      .sectionFourLeft {
        height: 65vh;
        .title {
          font-size: 1.125rem;
        }
        .contact-form {
          height: 28.128rem;
        }
      }
      .sectionFourRight {
        height: 65vh;
      }
    }
  }
}

@media (max-width: 767px) {
  .App-Contact {
    .section-content {
      flex-direction: column;
      .sectionFourLeft {
        width: 80vw;
        height: 75vh;
        .title {
          font-size: 1.125rem;
        }
        .contact-form {
          height: 60%;
          width: 40vw;
          margin-top: 0;

          .btn {
            width: 7.5rem;
          }
          .btn-one:hover input {
            letter-spacing: 0;
          }
        }
      }
      .sectionFourRight {
        width: 80vw;
        height: 40vh;
        .btn {
          width: 7.5rem;
        }
      }
    }
  }
}
