.App-sectionOne {
  background-color: #010101;
  height: calc(40vh);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "poppins";
  color: white;

  .sectionOneLeft {
    display: flex;
    img {
      height: 40vh;
      object-fit: cover;
      max-width: 50vw;
    }
  }

  .sectionOneRight {
    height: 40vh;
    width: 40vw;
    margin-left: 5%;

    .sectionOneTitle {
      font-size: calc(1rem + 1vmin);
      margin-bottom: 2%;
      margin-top: 0.625rem;
      text-decoration: underline;
    }
    .sectionOneLocalisation {
      font-size: calc(0.3125rem + 1vmin);
      margin-bottom: 2%;
    }
    .sectionOneText {
      font-size: calc(7px + 0.5vmin);
      margin-bottom: 2%;
    }

    @media screen and (min-width: 1280px) {
      .sectionOneLocalisation {
        font-size: 0.87rem;
        margin-bottom: 5%;
      }
      .sectionOneText {
        font-size: 1vmax;
        margin-bottom: 5%;
      }
    }

    @media screen and (max-width: 1280px) and (min-width: 1024px) {
      .sectionOneTitle {
        font-size: 1.25rem;
      }
      .sectionOneLocalisation {
        font-size: 0.87rem;
      }
      .sectionOneText {
        font-size: calc(0.5px + 1vmax);
      }
    }

    @media (width: 1280px) and (height: 800px) {
      .sectionOneText {
        font-size: 0.95rem;
      }
    }

    @media screen and (max-width: 1024px) and (min-width: 768px) {
      .sectionOneTitle {
        font-size: 1.25rem;
        margin-bottom: 5%;
      }
      .sectionOneLocalisation {
        font-size: 0.87rem;
        margin-bottom: 5%;
      }
      .sectionOneText {
        font-size: 1vmax;
        margin-bottom: 5%;
      }
    }

    @media (width: 1024px) and (height: 1366px) {
      .sectionOneText {
        font-size: 1.28rem;
      }
    }
    @media screen and (max-width: 768px) and (min-width: 540px) {
      .sectionOneTitle {
        font-size: 0.93rem;
        margin-bottom: 6%;
      }
      .sectionOneLocalisation {
        font-size: 0.75rem;
        margin-bottom: 6%;
      }
      .sectionOneText {
        font-size: calc(0.125rem + 1.1vmax);
        margin-bottom: 6%;
      }
    }
    @media (width: 768px) and (height: 1024px) {
      .sectionOneText {
        font-size: 0.96rem;
      }
    }

    @media screen and (max-width: 540px) and (min-width: 280px) {
      .sectionOneTitle {
        font-size: 0.625rem;
        margin-bottom: 5%;
      }
      .sectionOneLocalisation {
        font-size: 0.5rem;
        margin-bottom: 5%;
      }
      .sectionOneText {
        font-size: calc(1.5px + 1vmax);
        margin-bottom: 5%;
      }
    }
    @media (width: 540px) and (height: 720px) {
      .sectionOneText {
        font-size: 0.68rem;
      }
    }
    @media (width: 414px) and (height: 736px) {
      .sectionOneText {
        font-size: 0.65rem;
      }
    }
    @media (width: 411px) and (height: 731px) {
      .sectionOneText {
        font-size: 0.65rem;
      }
    }
    @media (width: 411px) and (height: 823px) {
      .sectionOneText {
        font-size: 0.69rem;
      }
    }
    @media (width: 375px) and (height: 667px) {
      .sectionOneText {
        font-size: 0.575rem;
      }
    }
    @media (width: 375px) and (height: 812px) {
      .sectionOneText {
        font-size: 0.65rem;
      }
    }
    @media (width: 360px) and (height: 640px) {
      .sectionOneText {
        font-size: 0.54rem;
      }
    }
    @media (width: 320px) and (height: 568px) {
      .sectionOneText {
        font-size: 0.49rem;
      }
    }
  }
  .sectionOneInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 540px) and (min-width: 280px) {
  .App-sectionTwo {
    height: calc(40vh - 4px);
  }
}

@media screen and (width: 320px) and (height: 568px) {
  .App-sectionTwo {
    height: calc(40vh - 4px);
  }
}

.App-sectionTwo {
  background-color: rgb(255, 255, 255);
  height: calc(40vh - 4px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(0.3125rem + 2vmin);
  font-family: "poppins";
  color: rgb(0, 0, 0);

  .sectionTwoLeft {
    width: 40vw;
    .sectionTwoLeftCitation {
      min-width: 100%;
    }
    .sectionTwoLeftCitationName {
      margin-left: 50%;
      margin-top: 2%;
      font-size: 70%;
    }
  }
  .sectionTwoRight {
    width: 40vw;
    border: solid 3px #282c34;

    .languagesFrameworks {
      margin-bottom: 0.625rem;
    }
  }
}
.sectionTwoBottomLogo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;

  div {
    text-align: center;
    @media screen and (max-width: 1280px) and (min-width: 768px) {
      img {
        min-height: calc(0.81rem + 1vmin);
      }
    }
    @media screen and (max-width: 540px) and (min-width: 280px) {
      img {
        min-height: calc(0.5rem + 1vmin);
      }
    }
    @media screen and (width: 320px) and (height: 568px) {
      img {
        min-height: calc(0.6rem);
      }
    }
    img {
      height: calc(0.3125rem + 1.5vmin);
    }
  }
}
