@font-face {
  font-family: "poppins";
  src: local("poppins"),
    url(../../Asset/Font/poppins-v15-latin-regular.woff2) format("woff2");
}

header {
  height: calc(10vh);
  font-family: "poppins";
  border-bottom: white 0.25rem solid;
}
