.frameworks {
  max-height: 100vh;
  margin: 0.3125rem 0 0 10px;

  h3 {
    color: Black;
    text-transform: uppercase;
    font-size: calc(4px + 1vmin);
  }
}

.yearsFrameworks {
  display: flex;
  justify-content: space-between;
  color: black;

  span {
    width: 36%;
    font-size: calc(1px + 1vmin);

    &:nth-child(2) {
      text-align: center;
      width: 30%;
    }

    &:nth-child(3) {
      text-align: center;
      width: 44%;
    }
  }
}

.languagesList {
  padding-top: 1%;

  height: calc(0.3125rem + 2vmin);

  li {
    color: #353a44;
    font-size: calc(1px + 1vmin);
  }

  .progressBar {
    height: 0.125rem;
    background: transparent;
    border-radius: 3.125rem;
    margin-top: 3px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      background: #000000;
      border-radius: 3.125rem;
      height: 0.125rem;
      width: 0;
      animation: line 10s ease-out forwards;

      @keyframes line {
        to {
          width: 100%;
        }
      }
    }
  }
}
